# Auto detect text files and perform LF normalization
* text=auto

# Export-ignore (files excluded from composer package distribution)
/.git export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.editorconfig export-ignore
/phpunit.xml export-ignore
/phpunit.xml.dist export-ignore
/tests export-ignore
/.github export-ignore
/docs export-ignore


# Language stats - Vendor 3rd party assets
/assets/bulma/** linguist-vendored
/assets/fonts/** linguist-vendored
/assets/libs/** linguist-vendored

# Ensure custom assets are counted
/assets/css/** !linguist-vendored
/assets/js/** !linguist-vendored
